<% include ./layout/header %>
<% include ./modal/previewExam %>
    <div class="container mt-5">
        <form id="formCreateExam">
            <ul class="alert alert-danger error-create" style="display: none;" role="alert">
            </ul>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Môn học</label>
                <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" id="select-subject" name="subjectId">
                        <option value="" selected>Chọn môn học...</option>
                        <%  subjects.forEach(function(sub) { %>
                            <option
                                value='<%=sub.id%>'
                            >
                                <%=sub.name %>
                            </option>
                        <% });%>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Số đề</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" name="numOfExam" min="1" max="10" value="4">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Số câu mỗi đề</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numInExam" value="20">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label num-easy-label">Số câu dễ</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numEasy"  value="10">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label num-med-label">Số câu trung bình</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numMedium"  value="5">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label num-hard-label">Số câu khó</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numHard"  value="5">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 justify-content-center d-flex">
                    <button type="button" class="btn btn-primary" id="btnCreateExam">Tạo đề</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="container ListExam" id="list-exam">
        <div class="row">

        </div>
    </div>
    <script>
        $('#btnCreateExam').click((e) => {
            e.preventDefault();
            const dataArr = $('#formCreateExam').serializeArray();
            const dataObj = handleSerializeArrayToObj(dataArr);
            const url = '/create-exam';
            const options = {
                method: 'POST',
                url: url,
                data: dataObj,
                success: (res) => {
                    $('.error-create').empty();
                    $('.error-create').css('display', 'none');
                    if(res.success && res.exams[0].length){
                        localStorage.removeItem('exams');
                        localStorage.setItem('exams', JSON.stringify(res.exams));
                        createExam(res.exams);
                    } else {
                        const errors = res.errors.map(err => `<li>${err.message}</li>`)
                        $('.error-create').append(errors.join(''));
                        $('.error-create').css('display', 'block');
                    }
                },
                error: (err) => {
                    console.log('Error: ' + err.message);
                }
            }
            $.ajax(options);
        });

        function createExam(data) {
            let content = [];
            data.map((exam, index) => {
                let domStr = `<div class="ExamCard col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đề ${index + 1}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Đề ${index + 1}</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link btn-preview-exam" data-id="${index}">Xem đề</a>
                        <a href="#" class="card-link" data-id="${index}">In đề</a>
                    </div>
                </div>
            </div>`
                content = [...content, domStr];
            });
            $('#list-exam .row').empty();
            $('#list-exam .row').append(content.join(''));
        }

        $('.container').on('click', '.btn-preview-exam', function(){
            const id = $(this).attr('data-id');
            const data = localStorage.getItem('exams');
            if(data && data[0].length) {
                let dataF = JSON.parse(data)[id];
                handleToHtmlModal(dataF);
                $('#btnPrintExam').attr('data-id', id);
            } else {
                $('#btnPrintExam').attr('data-id', '');
            }
        });

        function handleToHtmlModal(dataArr, idElementQuestion = 'ListQuestionPreview', idElementInfo = 'SubjectInfoPreview') {
            let total = dataArr.length;
            let numOfEasy = dataArr.filter(item => item.level == 'D').length
            let numOfMedium = dataArr.filter(item => item.level == 'V').length
            let numOfHard = dataArr.filter(item => item.level == 'K').length
            let htmlSubjectInfo = `
            <ul class="list">
                <li><b>Tổng:</b> ${total} câu</li>
                <li><span class="Subject__Item__Info__Easy"><b>Câu dễ:</b></span> ${numOfEasy} câu</li>
                <li><span class="Subject__Item__Info__Medium"><b>Câu vừa:</b></span> ${numOfMedium} câu</li>
                <li><span class="Subject__Item__Info__Hard"><b>Câu khó:</b></span> ${numOfHard} câu</li>
            </ul>
            `
            $('#' + idElementInfo).html(htmlSubjectInfo)
            let htmlQuestion = '';
            dataArr.forEach((item, index) => {
                htmlQuestion += `
                <li class="list-group-item quiz Quizz" id="Quizz-${item.id}" data="${JSON.stringify(item).replaceAll('"', `\\\'`)}">
                    <div class="QuizItem">
                        <div class="quiz__content">
                            <h6 class="font-weight-bold">Câu ${index+1}. ${item.content}</h6>
                            <ul>
                                <li class="${item.answers[0].isTrue ? 'text-danger' : ''}">A. ${item.answers[0].content}</li>
                                <li class="${item.answers[1].isTrue ? 'text-danger' : ''}">B. ${item.answers[1].content}</li>
                                <li class="${item.answers[2].isTrue ? 'text-danger' : ''}">C. ${item.answers[2].content}</li>
                                <li class="${item.answers[3].isTrue ? 'text-danger' : ''}">D. ${item.answers[3].content}</li>
                            </ul>
                        </div>
                    </div>
                </li>
                `
            })
            $('#modalPreviewExam').modal('show');
            $('#' + idElementQuestion).append(htmlQuestion);
        }

        $('#btnPrintExam').click(function(e) {
            const id = $(this).attr('data-id');
            if(!id) return;

            const data = localStorage.getItem('exams');
            if(!data || !data[0].length || !data[id].length) {
                return;
            }
            const dataParse = JSON.parse(data);
            if(!dataParse[0].length || !dataParse[id].length) {
                return;
            }
            console.log('id', id);
            console.log('dataaaaid', dataParse[id]);
            const url = '/export-exam';
            const options = {
                method: 'POST',
                url: url,
                data: {
                    data: JSON.stringify(dataParse[id])
                },
                // success: (res) => {
                    // if(res.success && res.exams[0].length){
                    //     localStorage.removeItem('exams');
                    //     localStorage.setItem('exams', JSON.stringify(res.exams));
                    //     createExam(res.exams);
                    // } else {
                        
                    // }
                    // var blob=new Blob([res.buffer.data], {type: 'application/octet-stream'});
                    // var link=document.createElement('a');
                    // link.href=window.URL.createObjectURL(blob);
                    // link.download="abc.txt";
                    // link.click();
                    // console.log('data', res);
                    
                // },
                success: function (data, status, xhr) {
                    console.log(data, status, xhr);
           
                    console.log(xhr.getResponseHeader("content-type"));
                //    let blob = new Blob([data], {type: '' + xhr.getResponseHeader("content-type")});
                   let blob = new Blob([data.data], {type: 'application/vnd.openxmlformats-officedocument.wordprocessing'});
                    console.log('blobbb', typeof blob, blob);
                    let a = $('<a />'), url = URL.createObjectURL(blob);
                    console.log('url', url);
                    a.attr({
                        'href': url,
                        'download': 'abc.docx',
                        'text': "click"
                    }).hide().appendTo("body")[0].click();
                },
                error: (err) => {
                    console.log('Error: ' + err.message);
                }
            }
            $.ajax(options);
        });

        function getInfoSubject(subjecId){
            const url = `/subjects/get-num/${subjecId}`;
            const options = {
                method: 'GET',
                url: url,
                error: function(err){
                    console.log('Error', err.message);
                }
            }
            return $.ajax(options);
        }

        function setNumQuestion(numQuestion) {
            // set label easy
            let eleELabel = $('.num-easy-label');
            eleELabel.empty();
            eleELabel.append(` Số câu dễ <i class="text-danger"> (${numQuestion.numE} )</i>`);
            // set label medium
            let eleMLabel = $('.num-med-label');
            eleMLabel.empty();
            eleMLabel.append(` Số câu trung bình <i class="text-danger"> (${numQuestion.numM} )</i>`);
            // set label hard
            let eleHLabel = $('.num-hard-label');
            eleHLabel.empty();
            eleHLabel.append(` Số câu khó <i class="text-danger"> (${numQuestion.numH} )</i>`);
        }

        $('#select-subject').change(function(){
            const subjectId = this.value;
            if(!subjectId) return;
            const numQuestion = getInfoSubject(subjectId).then(function(res) {
                setNumQuestion(res.numQuestion);
            }).catch(function(err) {
                console.log('Error', err.message);
            });
        });
    </script>
<% include ./layout/footer %>