<% include ./layout/header %>
<% include ./modal/previewExam %>
    <div class="container mt-5">
        <form id="formCreateExam">
            <ul class="alert alert-danger error-create" style="display: none;" role="alert">
            </ul>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Môn học</label>
                <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" id="select-subject" name="subjectId">
                        <option value="" selected>Chọn môn học...</option>
                        <%  subjects.forEach(function(sub) { %>
                            <option
                                value='<%=sub.id%>'
                                data-slug='<%=sub.slug%>'
                            >
                                <%=sub.name %>
                            </option>
                        <% });%>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Số đề</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" name="numOfExam" min="1" max="10" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Số câu mỗi đề</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numInExam" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label num-easy-label">Số câu dễ</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numEasy"  value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label num-med-label">Số câu trung bình</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numMedium"  value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label num-hard-label">Số câu khó</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="numHard"  value="">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 justify-content-center d-flex">
                    <button type="button" class="btn btn-primary btnCreateExam" data-type="1" title="Tạo đề giống nhau 30%">Tạo đề chuẩn</button>
                    <button type="button" class="btn btn-success ml-2 btnCreateExam" data-type="2" title="Tạo đề">Tạo đề bình thường </button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="container ListExam" id="list-exam">
        <div class="row">

        </div>
    </div>
    <script>
        $('.btnCreateExam').on('click', function(e){
            e.preventDefault();
            const type = $(this).attr('data-type');
            const dataArr = $('#formCreateExam').serializeArray();
            const dataObj = handleSerializeArrayToObj(dataArr);
            dataObj.type = +type;
            const url = '/create-exam';
            const options = {
                method: 'POST',
                url: url,
                data: dataObj,
                success: (res) => {
                    $('.error-create').empty();
                    $('.error-create').css('display', 'none');
                    if(res.success && res.exams.length > 0 && res.exams[0].length){
                        localStorage.removeItem('exams');
                        localStorage.setItem('exams', JSON.stringify(res.exams));
                        createExam(res.exams);
                    } else {
                        const errors = res.errors.map(err => `<li>${err.message}</li>`)
                        $('.error-create').append(errors.join(''));
                        $('.error-create').css('display', 'block');
                    }
                },
                error: (err) => {
                    console.log('Error: ' + err.message);
                }
            }
            $.ajax(options);
        });

        function createExam(data) {
            let content = [];
            data.map((exam, index) => {
                let domStr = `<div class="ExamCard col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đề ${index + 1}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Đề ${index + 1}</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link btn-preview-exam" data-id="${index}">Xem đề</a>
                        <a href="#" class="card-link btn-print-exam" data-id="${index}">In đề</a>
                    </div>
                </div>
            </div>`
                content = [...content, domStr];
            });
            $('#list-exam .row').empty();
            $('#list-exam .row').append(content.join(''));
        }

        $('.container').on('click', '.btn-preview-exam', function(){
            const id = $(this).attr('data-id');
            const data = localStorage.getItem('exams');
            if(data && data[0].length) {
                let dataF = JSON.parse(data)[id];
                handleToHtmlModal(dataF, id);
                $('#btnPrintExam').attr('data-id', id);
            } else {
                $('#btnPrintExam').attr('data-id', '');
            }
        });

        function handleToHtmlModal(dataArr, index, idElementQuestion = 'ListQuestionPreview', idElementInfo = 'SubjectInfoPreview') {
            let total = dataArr.length;
            let numOfEasy = dataArr.filter(item => item.level == 'D').length
            let numOfMedium = dataArr.filter(item => item.level == 'V').length
            let numOfHard = dataArr.filter(item => item.level == 'K').length
            let title = `Đề ${+index + 1}`;
            $('#modalPreviewExam .modal-title').text(title);
            let htmlSubjectInfo = `
            <ul class="list">
                <li><b>Tổng:</b> ${total} câu</li>
                <li><span class="Subject__Item__Info__Easy"><b>Câu dễ:</b></span> ${numOfEasy} câu</li>
                <li><span class="Subject__Item__Info__Medium"><b>Câu vừa:</b></span> ${numOfMedium} câu</li>
                <li><span class="Subject__Item__Info__Hard"><b>Câu khó:</b></span> ${numOfHard} câu</li>
            </ul>
            `
            $('#' + idElementInfo).html(htmlSubjectInfo)
            let htmlQuestion = '';
            let classLevel = {
                D: 'badge-success',
                V: 'badge-warning',
                K: 'badge-danger',
            }
            let nameLevel = {
                D: 'Dễ',
                V: 'Vừa',
                K: 'Khó',
            }
            dataArr.forEach((item, index) => {
                htmlQuestion += `
                <li class="list-group-item quiz Quizz" id="Quizz-${item.id}" data="${JSON.stringify(item).replaceAll('"', `\\\'`)}">
                    <div class="QuizItem">
                        <div class="quiz__content">
                            <h6 class="font-weight-bold">Câu ${index+1}
                                <span class="badge ${classLevel[item.level] }">${nameLevel[item.level]}</span>
                                . ${item.content}</h6>
                            <ul>
                                <li class="${item.answers[0].isTrue ? 'text-danger' : ''}">A. ${item.answers[0].content}</li>
                                <li class="${item.answers[1].isTrue ? 'text-danger' : ''}">B. ${item.answers[1].content}</li>
                                <li class="${item.answers[2].isTrue ? 'text-danger' : ''}">C. ${item.answers[2].content}</li>
                                <li class="${item.answers[3].isTrue ? 'text-danger' : ''}">D. ${item.answers[3].content}</li>
                            </ul>
                        </div>
                    </div>
                </li>
                `
            })
            $('#modalPreviewExam').modal('show');
            $('#' + idElementQuestion).append(htmlQuestion);
        }

        $('#btnPrintExam').click(function(e) {
            const id = $(this).attr('data-id');
            printExam(id);
        });
        
        function printExam(id) {
            if(!id) return;

            const data = localStorage.getItem('exams');
            if(!data || !data[0].length || !data[id].length) {
                return;
            }
            const dataParse = JSON.parse(data);
            if(!dataParse[0].length || !dataParse[id].length) {
                return;
            }
            const url = '/export-exam';
            const options = {
                method: 'POST',
                url: url,
                responseType: 'buffer',
                data: {
                    index: id,
                    data: JSON.stringify(dataParse[id])
                },
                success: function (response) {
                    const subSlug = $('#select-subject option:selected').attr('data-slug');
                    const numExam = +id + 1;
                    const fileNameExam = `${subSlug}-de-${numExam}`;
                    const fileNameAnswer = `${subSlug}-de-${numExam}-dap-an`;
                    const dataFileExam = response.string;
                    const dataFileAnswer = response.stringA;

                    // const blob = converBase64toBlob(dataFileExam, 'application/msword'); 
                    // const blobURL = URL.createObjectURL(blob);
                    // const a = document.createElement('a');
                    // a.href = blobURL;
                    // a.download = fileNameExam;
                    // a.click();
                    // setTimeout(() => {
                    //     window.URL.revokeObjectURL(blobURL);
                    //     a.remove();
                    // }, 0)
                    if(dataFileExam) printFile(dataFileExam, fileNameExam);
                    if(dataFileAnswer) printFile(dataFileAnswer, fileNameAnswer);
                },
                error: (err) => {
                    console.log('Error: ' + err.message);
                }
            }
            $.ajax(options);
        }
        
        function printFile(data, fileName){
            const blob = converBase64toBlob(data, 'application/msword'); 
            const blobURL = URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = blobURL;
            a.download = fileName;
            a.click();
            setTimeout(() => {
                window.URL.revokeObjectURL(blobURL);
                document.body.removeChild(a);
            }, 0)
        }

        $('.container').on('click', '.btn-print-exam', function(){
            const id = $(this).attr('data-id');
            printExam(id);
        })

        function converBase64toBlob(content, contentType) {
            contentType = contentType || '';
            var sliceSize = 512;
            var byteCharacters = window.atob(content); //method which converts base64 to binary
            var byteArrays = [
            ];
            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                var slice = byteCharacters.slice(offset, offset + sliceSize);
                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
                }
                var byteArray = new Uint8Array(byteNumbers);
                byteArrays.push(byteArray);
            }
            var blob = new Blob(byteArrays, {
                type: contentType
            }); //statement which creates the blob
            return blob;
        }

        function getInfoSubject(subjecId){
            const url = `/subjects/get-num/${subjecId}`;
            const options = {
                method: 'GET',
                url: url,
                error: function(err){
                    console.log('Error', err.message);
                }
            }
            return $.ajax(options);
        }

        function setNumQuestion(numQuestion) {
            // set label easy
            let eleELabel = $('.num-easy-label');
            eleELabel.empty();
            eleELabel.append(` Số câu dễ <i class="text-danger"> (${numQuestion.numE} )</i>`);
            // set label medium
            let eleMLabel = $('.num-med-label');
            eleMLabel.empty();
            eleMLabel.append(` Số câu trung bình <i class="text-danger"> (${numQuestion.numM} )</i>`);
            // set label hard
            let eleHLabel = $('.num-hard-label');
            eleHLabel.empty();
            eleHLabel.append(` Số câu khó <i class="text-danger"> (${numQuestion.numH} )</i>`);
        }

        $('#select-subject').change(function(){
            const subjectId = this.value;
            if(!subjectId) return;
            const numQuestion = getInfoSubject(subjectId).then(function(res) {
                setNumQuestion(res.numQuestion);
            }).catch(function(err) {
                console.log('Error', err.message);
            });
        });
    </script>
<% include ./layout/footer %>