<% include ./layout/header %>
    <div class="container ListExam">
        <div class="row">
            <div class="ExamCard col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đề 1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Đề 1</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Xem đề</a>
                        <a href="#" class="card-link">In đề</a>
                    </div>
                </div>
            </div>
            <div class="ExamCard col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đề 1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Đề 1</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Xem đề</a>
                        <a href="#" class="card-link">In đề</a>
                    </div>
                </div>
            </div>
            <div class="ExamCard col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đề 1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Đề 1</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Xem đề</a>
                        <a href="#" class="card-link">In đề</a>
                    </div>
                </div>
            </div>
            <div class="ExamCard col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đề 1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Đề 1</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Xem đề</a>
                        <a href="#" class="card-link">In đề</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ./layout/footer %>