<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <div>
        <label>Choose file docx, doc</label>
        <form method="POST" action="/">
          <input type="file">
          <button type="submit">OK</button>
        
        </form>
      </div>
    </div>
  </body>
</html>
