<% include ./layout/header %>
<div class="container ListQuiz">
    <div class="row justify-content-between align-items-center">
        <div class="row Subject flex-column">
            <div class="SubjectTile">
                <strong>Môn học:</strong> Bản đồ địa hình</strong>
            </div>
            <div class="SubjectInfo">
                <ul class="list">
                    <li>Tổng: 100 câu</li>
                    <li>Câu dễ: 60 câu</li>
                    <li>Câu khó: 20 câu</li>
                    <li>Câu Trung bình: 20 câu</li>
                </ul>
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-sm btn-dark"> Chỉnh sửa</a>
        </div>
    </div>
    <div class="ListQuiz__content">
        <ul class="list-group list-group-flush">
            <li class="list-group-item quiz">
                <div class="QuizItem">
                    <div class="quiz__content">
                        <h6 class="font-weight-bold">1. What is the tone of your social posts?</h6>
                        <ul>
                            <li>A. Pretty serious, usually providing usefull infomation</li>
                            <li>B. Fun but not too crazy</li>
                            <li>C. I say what I want when I want to</li>
                            <li>D. Thank you</li>
                        </ul>
                    </div>
                    <div class="quiz__option">
                        <a href="#" class="btn btn-sm"> Chỉnh sửa</a>
                        <a href="#" class="btn btn-sm btn-danger"> Xóa</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item quiz">
                <div class="QuizItem">
                    <div class="quiz__content">
                        <h6 class="font-weight-bold">1. What is the tone of your social posts?</h6>
                        <ul>
                            <li>A. Pretty serious, usually providing usefull infomation</li>
                            <li>B. Fun but not too crazy</li>
                            <li>C. I say what I want when I want to</li>
                            <li>D. Thank you</li>
                        </ul>
                    </div>
                    <div class="quiz__option">
                        <a href="#" class="btn btn-sm"> Chỉnh sửa</a>
                        <a href="#" class="btn btn-sm btn-danger"> Xóa</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item quiz">
                <div class="QuizItem">
                    <div class="quiz__content">
                        <h6 class="font-weight-bold">1. What is the tone of your social posts?</h6>
                        <ul>
                            <li>A. Pretty serious, usually providing usefull infomation</li>
                            <li>B. Fun but not too crazy</li>
                            <li>C. I say what I want when I want to</li>
                            <li>D. Thank you</li>
                        </ul>
                    </div>
                    <div class="quiz__option">
                        <a href="#" class="btn btn-sm"> Chỉnh sửa</a>
                        <a href="#" class="btn btn-sm btn-danger"> Xóa</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item quiz">
                <div class="QuizItem">
                    <div class="quiz__content">
                        <h6 class="font-weight-bold">1. What is the tone of your social posts?</h6>
                        <ul>
                            <li>A. Pretty serious, usually providing usefull infomation</li>
                            <li>B. Fun but not too crazy</li>
                            <li>C. I say what I want when I want to</li>
                            <li>D. Thank you</li>
                        </ul>
                    </div>
                    <div class="quiz__option">
                        <a href="#" class="btn btn-sm"> Chỉnh sửa</a>
                        <a href="#" class="btn btn-sm btn-danger"> Xóa</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item quiz">
                <div class="QuizItem">
                    <div class="quiz__content">
                        <h6 class="font-weight-bold">1. What is the tone of your social posts?</h6>
                        <ul>
                            <li>A. Pretty serious, usually providing usefull infomation</li>
                            <li>B. Fun but not too crazy</li>
                            <li>C. I say what I want when I want to</li>
                            <li>D. Thank you</li>
                        </ul>
                    </div>
                    <div class="quiz__option">
                        <a href="#" class="btn btn-sm"> Chỉnh sửa</a>
                        <a href="#" class="btn btn-sm btn-danger"> Xóa</a>
                    </div>
                </div>
            </li>
    </div>
</div>
<% include ./layout/footer %>