.Container {
    border: 4px solid green;
    border-top: 6px solid greenyellow;
    min-height: 500px;
}

.Menu {
    &__Logo {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: white;
        padding: 10px;
    }
    &__Content {
        display: flex;
        justify-content: center;
        &__Item {
            background: #032341;
            padding: 4px 10px;
            padding-top: 8px;
            color: white;
            margin: 10px;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                background: chartreuse;
                cursor: pointer;
            }
            &--FileUpload {
                input {
                    display: none;
                }
            }
        }
    }
}

.Body {
    min-height: 400px;
}

.Subject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__Item {
        width: 25%;
        height: 150px;
        margin: 10px;
        padding: 10px;
        background: #001628;
        color: white;
        &:hover {
            cursor: pointer;
            background: #010d18;
            border: 2px solid greenyellow;
        }
        &__Name {
            font-size: 20px;
            margin-bottom: 8px;
        }
        &__Info {
            &__Easy {
                b {
                    color: greenyellow;
                }
            }
            &__Medium {
                b {
                    color: orange;
                }
            }
            &__Hard {
                b {
                    color: red;
                }
            }
        }
    }
}

.ModalContent {
    background: ModalContent;
}

// List Quiz
.ListQuiz {
    .SubjectInfo {
        .list {
            margin: 0;
            padding: 0;
            padding-top: 20px;
            list-style-type: none;
        }
    }
    &__content ul {
        list-style-type: none;
    }
    &__content ul .quiz {
        margin: 20px 0;
    }
    .QuizItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .QuizItem ul {
        list-style-type: none;
    }
    .QuizItem ul li {
        padding: 10px 0;
    }
}