.Container {
  border: 4px solid green;
  border-top: 6px solid greenyellow;
  min-height: 500px; }

.Menu__Logo {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 10px; }

.Menu__Content {
  display: flex;
  justify-content: center; }
  .Menu__Content__Item {
    color: white;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background: #032341;
    cursor: pointer; }
    .Menu__Content__Item--FileUpload input {
      display: none; }
    .Menu__Content__Item:hover {
      text-decoration: none;
      background: greenyellow; }

.Body {
  min-height: 400px; }

.Subject {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .Subject__Item {
    text-decoration: none;
    width: 25%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background: #001628;
    color: white; }
    .Subject__Item:hover {
      text-decoration: none;
      cursor: pointer;
      background: #010d18;
      border: 2px solid greenyellow; }
    .Subject__Item__Name {
      font-size: 20px;
      margin-bottom: 8px; }
    .Subject__Item__Info__Easy b {
      color: greenyellow; }
    .Subject__Item__Info__Medium b {
      color: orange; }
    .Subject__Item__Info__Hard b {
      color: red; }

.SubjectTile {
  margin-top: 6px; }
  .SubjectTile__Wrap {
    display: flex; }
    .SubjectTile__Wrap--Select {
      width: 250px;
      margin-right: 10px; }

.ModalContent {
  background: ModalContent; }

.ListQuiz .SubjectInfo .list {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style-type: none; }

.ListQuiz__content ul {
  list-style-type: none; }

.ListQuiz__content ul .quiz {
  margin: 20px 0; }

.ListQuiz .QuizItem {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ListQuiz .QuizItem ul {
  list-style-type: none; }

.ListQuiz .QuizItem ul li {
  padding: 10px 0; }

#FormNewQuestion .listAnswer li {
  margin: 10px 0; }

.ListExam .ExamCard {
  margin: 15px 0; }
