* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    background:#fafafa;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.modal-content {
    height: 99%;
}

.modal-dialog {
    width: 98%;
    height: 92%;
    padding: 0;
}

@media (min-width: 576px) {
    .modal-dialog {
        min-width: 98% !important;
    }
    .modal-body {
        overflow-y: scroll;
    }
}