<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/stylescss.css' />
</head>

<body>
    <div class="Container">
        <div class="Menu">
            <div class="Menu__Logo">
                Hệ thống tạo đề thi
            </div>
            <div class="Menu__Content">
                <div class="Menu__Content__Item">Chọn file đề</div>
                <a href="/" class="Menu__Content__Item">Danh sách môn học</a>
                <a href="/tao-de" class="Menu__Content__Item">Tạo đề thi</a>
            </div>
        </div>
        <div class="Body">