<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/stylescss.css' />
</head>
<script src="/stylesheets/common.js"></script>
<script src="/stylesheets/jquery-3.5.1.min.js"></script>
<script src="/stylesheets/bootstrap.bundle.min.js"></script>

<body>
    <% include ../modal/confirmDestroy %>
    <div class="Container">
        <div class="Menu">
            <div class="Menu__Logo">
                Hệ thống tạo đề thi
            </div>
            <div class="Menu__Content">
                <input style="display: none;" type="file" name="file" id="file">
                <label for="file" class="Menu__Content__Item Menu__Content__Item--FileUpload">Chọn file đề</label>
                <a href="/" class="Menu__Content__Item">Danh sách môn học</a>
                <a href="/create-exam" class="Menu__Content__Item">Tạo đề thi</a>
            </div>
        </div>
        <div class="Body">
            <!-- Modal -->
            <div class="modal fade" id="modalEditUpload" tabindex="-1" role="dialog" aria-labelledby="modalEditUploadTitle" aria-hidden="true">
                <div class="modal-dialog modal-large modal-dialog-centered" role="document">
                    <div class="modal-content ModalContent">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
                        </div>
                        <div class="modal-body">
                            <div class="container ListQuiz">
                                <div class="row justify-content-between align-items-center">
                                    <div class="row Subject flex-column">
                                        <div class="SubjectTile">
                                            <strong>Môn học:</strong>
                                            <div class="SubjectTile__Wrap">
                                                <select class="custom-select SubjectTile__Wrap--Select" id="ListSubject">
                                            <option value="0">Nhập tên môn học mới</option>
                                          </select>
                                                <div id="ListSubject__Input" class="SubjectTile__Wrap--Name">
                                                    <input type="text" class="form-control" placeholder="Tên môn học">
                                                    <p class="text-danger" style="display: none;" id="subjectNameRequire">Vui lòng nhập tên môn học</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="SubjectInfo" id="SubjectInfo">

                                        </div>
                                    </div>
                                </div>
                                <div class="ListQuiz__content">
                                    <ul class="list-group list-group-flush" id="ListQuestionHtml">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="BtnCancelLoadedFile">Hủy</button>
                            <button type="button" class="btn btn-primary" id="BtnSaveLoadedFile">Lưu lại</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    // $('#modalEditUpload').modal('show')

                    $('#file').on('change', () => {
                        var fd = new FormData();
                        var files = $('#file')[0].files;
                        const check = validateFile(files[0]);
                        if(!check.success){
                            alert(check.message);
                            return;
                        }
                        if (files.length > 0) {
                            fd.append('file', files[0]);

                            // $.ajax({
                            //     url: '/upload',
                            //     type: 'post',
                            //     data: fd,
                            //     contentType: false,
                            //     processData: false,
                            //     success: async function(response) {
                            //         if (response != 0) {
                            //             await localStorage.removeItem("QuizzRandom")
                            //             await localStorage.setItem('QuizzRandom', JSON.stringify(response.data))
                            //                 // location.href = '/sua-doi'
                            //             responseToHtmlModal(response.data, response.countDuplicate, response.subjects)
                            //             $('#modalEditUpload').modal('show')

                            //         } else {
                            //             alert('file not uploaded');
                            //         }
                            //     },
                            // });
                        } else {
                            alert("Please select a file.");
                        }
                    })

                    $('body').on('click', '#ListSubject', function() {
                        let option = $(this).val()
                        if (option == 0) {
                            $('#ListSubject__Input').css('display', 'block')
                        } else {
                            $('#ListSubject__Input').css('display', 'none')
                        }
                    })
                })

                function responseToHtmlModal(dataArr, countDuplicate, subjects, idElementQuestion = 'ListQuestionHtml', idElementInfo = 'SubjectInfo') {
                    let total = dataArr.length
                    let numOfEasy = dataArr.filter(item => item.level == 'D').length
                    let numOfMedium = dataArr.filter(item => item.level == 'V').length
                    let numOfHard = dataArr.filter(item => item.level == 'K').length
                    let htmlSubjectInfo = `
                    <ul class="list">
                                        <li><b>Tổng:</b> ${total} câu</li>
                                        <li><b>Có:</b> ${countDuplicate} câu đã tồn tại trong hệ thống</li>
                                        <li><span class="Subject__Item__Info__Easy"><b>Câu dễ:</b></span> ${numOfEasy} câu</li>
                                        <li><span class="Subject__Item__Info__Medium"><b>Câu vừa:</b></span> ${numOfMedium} câu</li>
                                        <li><span class="Subject__Item__Info__Hard"><b>Câu khó:</b></span> ${numOfHard} câu</li>
                                    </ul>
                    `
                    $('#' + idElementInfo).html(htmlSubjectInfo)
                    let htmlQuestion = '';
                    let classLevel = {
                        D: 'badge-success',
                        V: 'badge-warning',
                        K: 'badge-danger',
                    }
                    let nameLevel = {
                        D: 'Dễ',
                        V: 'Vừa',
                        K: 'Khó',
                    }
                    dataArr.forEach((item, index) => {
                        let level = nameLevel[item.level]
                                htmlQuestion += `
                        <li class="list-group-item quiz Quizz" id="Quizz-${item.id}" data="${JSON.stringify(item).replaceAll('"', `\\\'`)}">
                                    <div class="QuizItem">
                                        <div class="quiz__content">
                                            <h6 class="font-weight-bold">Câu ${index+1}
                                            <span class="badge ${classLevel[item.level] }">${nameLevel[item.level]}</span>
                                                . ${item.content}</h6>
                                            <ul>
                                                <li><b>A. ${item.answers[0].content}</b></li>
                                                <li>B. ${item.answers[1].content}</li>
                                                <li>C. ${item.answers[2].content}</li>
                                                <li>D. ${item.answers[3].content}</li>
                                            </ul>
                                        </div>
                                        <div class="quiz__option">
                                            <a href="#" class="btn btn-sm btn-danger Quizz-Delete" data="${item.id}"> Xóa</a>
                                        </div>
                                    </div>
                                </li>
                        
                        `
                    })
                    let subjectHtml = "";
                    subjects.forEach(item=>{
                        subjectHtml += `<option value="${item.id}">${item.name}</option>`
                    })
                    $('#ListSubject').append(subjectHtml)
                    $('#' + idElementQuestion).html(htmlQuestion)

                }
                $('body').on('click', '#BtnSaveLoadedFile', function() {
                    $('#subjectNameRequire').css('display', 'none')
                    let subjectId = $('#ListSubject').val();
                    let subjectName = "";
                    if (subjectId == '0') {
                        subjectName = $('#ListSubject__Input>input').val();
                    }
                    if((subjectId == '0' && subjectName !== "") || subjectId != '0'){
                        let questions = []
                        let questionsHtml = $('.Quizz')

                        if (questionsHtml) {
                            questionsHtml.each((item) => {
                                let data = $(questionsHtml[item]).attr('data').replaceAll(`\\\'`, `"`)
                                data = JSON.parse(data)
                                questions.push(data)
                            })
                        }
                        let formData = {
                            subjectId,
                            subjectName,
                            questions
                        }
                        console.log('aaaa', formData);

                        $.ajax({
                                    url: '/update-load-file',
                                    type: 'post',
                                    data: JSON.stringify(formData),
                                    contentType: "application/json",
                                    processData: false,
                                    success: async function(response) {
                                        if (response != 0) {
                                            console.log('rrrrr', response);
                                            if(response.status == 'OK'){
                                                alert("Đã nhập file đề thành công")
                                                $('#modalEditUpload').modal('hide')
                                                location.reload();
                                            }

                                        } else {
                                            alert('file not uploaded');
                                        }
                                    },
                                });


                        console.log('save');
                    }else{
                        alert('Vui lòng nhập tên môn học')
                        // $('#subjectNameRequire').css('display', 'inline-block')
                    }
                   
                })
                $('body').on('click', '#BtnCancelLoadedFile', function() {
                    console.log('BtnCancelLoadedFile');
                })
                $('body').on('click', '.Quizz-Delete', function() {
                    let id = $(this).attr('data')
                    $('#Quizz-'+id).remove();
                    console.log('Delete', id);
                })
            </script>